@*@model IEnumerable<GraceCareCenterOrder.Models.UserRole>*@
@model PagedList.IPagedList<GraceCareCenterOrder.Models.UserRole>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>User Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("searchData", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="Alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.SortName, filterValue = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("Role", "Index", new { sortOrder = ViewBag.SortRole, filterValue = ViewBag.FilterValue })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.UserId)
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit Role", "Edit", new { userId = item.UserId }) |
                @Html.ActionLink("Reset Password", "AdminResetPasswordTkn", "Account", new { userId = item.UserId }, null) |
                @Html.ActionLink("Edit Profile", "AdminChangeEmail", "Account", new { userId = item.UserId }, null)
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum, sortingOrder = ViewBag.CurrentSortOrder, filterValue = ViewBag.FilterValue }))

