@model CareModels.TimeSlots.SlotDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SlotDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeekStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeekStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPerSlot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPerSlot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SlotId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
