@model CareModels.Items.ItemDetail

@{
    ViewBag.Title = "Details";
}

    <h2>Item</h2>

<div>
    <h4>Item Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AisleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AisleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
